PORT=8000
HOST=0.0.0.0
DATABASE_URL=postgresql://root:passowrd@
ENVIRONMENT=production
HTTP_SECURE_OPTION=true
ACCESS_CONTROL_ORIGIN=localhost
ACCESS_TOKEN_SECRET=<enter-empty-value>
REFRESH_TOKEN_SECRET=<enter-empty-value>
ACCESS_TOKEN_EXPIRY=15m
REFRESH_TOKEN_EXPIRY=30d
GMAIL_USER=<enter-empty-value>
GMAIL_APP_PASSWORD=<enter-empty-value>
LIVEKIT_URL=<enter-empty-value>
LIVEKIT_API_KEY=<enter-empty-value>
LIVEKIT_API_SECRET=<enter-empty-value>
GOOGLE_OAUTH_CLIENT_ID=<enter-empty-value>
GOOGLE_OAUTH_CLIENT_SECRET=<enter-empty-value>
SMTP_API_TOKEN=<enter-empty-value>
SERVER_BASE_URI=http://localhost:8000